.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.product-box {
    border: 1px solid #e7eaec;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.product-box img {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Giới hạn chiều cao hình ảnh */
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
    margin-bottom: 10px;
}

.product-box .product-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

.product-box .product-name:hover {
    color: #1ab394;
}

.product-box .product-desc {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.product-box .btn {
    font-size: 14px;
    padding: 5px 10px;
}

.product-detail-header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
}

.product-detail-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 214, 103, 0.6); /* Lớp phủ vàng nhẹ */
}

.product-title {
    position: relative;
    background: #fff;
    padding: 10px 20px;
    border: 2px solid #8B0000;
    color: #8B0000;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    padding-top: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sidebar-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 1px 20px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: #186f4c;
    min-width: 223px;
    margin-left: -30px;
    margin-right: -20px;
    border-radius: 5px 5px 0px 0px;
}
.sidebar-title h4::after{
    content: "";
    height: 1px;
    width: 1px;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-color: #186f4c #186f4c transparent transparent;
}
.sidebar ul li a:hover {
    color: #0056b3;
}
.category-box {
    border-bottom: 1px solid;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
}
.sidebar-contact {
    background-color: #f8f9fa;
    padding: 20px;
    padding-top: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sidebar-contact-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 1px 20px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: #8B0000;
    min-width: 223px;
    margin-left: -30px;
    margin-right: -20px;
    border-radius: 5px 5px 0px 0px;
}
.sidebar-contact-title h4::after{
    content: "";
    height: 1px;
    width: 1px;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-color: #8B0000 #8B0000 transparent transparent;
}
.sidebar-contact ul li a:hover {
    color: #0056b3;
}