.new-title{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 0px 20px;
    position: relative;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: #186f4c;
    min-width: 250px;
    margin-left: -10px;
    margin-right: -10px;
}
.new-title h2::after{
    content: "";
    height: 1px;
    width: 1px;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-color: #186f4c #186f4c transparent transparent;
}

.item-warranty-info{
    display: flex;
    font-size: inherit;
    margin-bottom: 10px;
}
.item-warranty-info .icon img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.item-warranty-info .description{
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
}
.item-warranty-info .description p{
    font-size: 16px;
}

.product-main-price-discounted {
    color: #fd2424;
    font-weight: bold;
    font-weight: 900;
}
.product-main-price {
    color: #000;
    font-weight: bold;
    font-weight: 900;
}
.rating-summary {
    font-family: Arial, sans-serif;
}

.rating-item .progress {
    background-color: #e0e0e0;
}

.rating-item .progress-bar {
    transition: width 0.3s ease-in-out;
}

.review-item {
    transition: all 0.2s ease;
}

.review-item:hover {
    background-color: #f9f9f9;
}